/* Main stylesheet for website homepage */
/* Created by Steven Manwaring 9/22/15 */

h1 {
	text-align: center;
	font-family: cambria; 
}

.nav li {  /*http://css-snippets.com/simple-horizontal-navigation/*/
	display: inline; 
	font-size: 20px;
	
}

.nav ul { 
	text-align: center; 
	list-style-type: none;
	background-color: #cccccc;  
	border-style: solid;
}

.nav a {
	color: black;
}

p {
	font-family: cambria;
	font-size: 18px;
	text-align: center;
	font-style: italic;
}

img {
	display: block;
	margin: 0 auto; /*http://stackoverflow.com/questions/7055393/center-image-using-text-align-center*/
}
