/* Main stylesheet for website */
/* Created by Steven Manwaring 9/22/15 */

h1 {
	text-align: center;
	font-family: cambria; 
}

li {
	display: inline; /*http://www.w3schools.com/css/css_navbar.asp*/
	font-size: 20px;
	color: black; 
}

ul {
	text-align: center; 
	list-style-type: none;
	background-color: #cccccc;  
}

p {
	font-family: cambria;
	font-size: 18px;
	text-align: center;
	font-style: italic;
}

img {
	display: block;
	margin: 0 auto; /*http://stackoverflow.com/questions/7055393/center-image-using-text-align-center*/
}
