/* Stylesheet for resume page */
/* Created by Steven Manwaring 9/22/15 */

body {
	font-size: 18px; 
	background-color: #fbf6ed; 
}

h2 {
	text-align: center;
	font-family: helvetica; 
}

h1 {
	font-family: helvetica; 
	font-size: 45px;
	background-image: url(beach.jpg);
	background-position: center;
	padding-top: 7%;
	padding-bottom: 12%;
	text-align: center;
}

h3, p, li, ul {
	font-family: cambria; 
}

p {
	text-align: center;
	font-size: 18px;
}

img {
	display: block;
	padding-bottom: 5%;
	margin: 0 auto; /*http://stackoverflow.com/questions/7055393/center-image-using-text-align-center*/
}

.nav li {  /*http://css-snippets.com/simple-horizontal-navigation/*/
	display: inline; 
	font-size: 20px;
	text-align: center;
}

.nav ul { 
	text-align: center; 
	list-style-type: none;
	background-color: #cccccc;  
	border-style: solid;
}

.nav a {
	color: black;
}

.boldNavText {
	font-weight: bold;
	display: inline;
}


