/* Stylesheet for resume page */
/* Created by Steven Manwaring 9/22/15 */

h1 {
	text-align: center;
	font-family: cambria; 
}

h3, p, li {
	font-family: cambria; 
}

p {
	text-align: center;
}

.nav li {  /*http://css-snippets.com/simple-horizontal-navigation/*/
	display: inline; 
	font-size: 20px;
	
}

.nav ul { 
	text-align: center; 
	list-style-type: none;
	background-color: #cccccc;  
	border-style: solid;
}

.nav a {
	color: black;
}


